<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.username">root</property> 
   <!-- <property name="hibernate.connection.password">apache</property>        
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.1/ricevimentolive</property>  -->
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/ricevimentolive</property>        
        <property name="hibernate.default_catalog">ricevimentolive</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        
        <mapping resource="model/beans/Supervisor.hbm.xml"/>
        <mapping resource="model/beans/Student.hbm.xml"/>
        <mapping resource="model/beans/Room.hbm.xml"/>
        <mapping resource="model/beans/Roomsupervisor.hbm.xml"/>
        <mapping resource="model/beans/Timewindow.hbm.xml"/>
        <mapping resource="model/beans/Booking.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
